@font-face {
  font-family: 'Krasar-Bold';
  src: url('/assets/general-assets/fonts/Krasar-Bold.ttf');
}
@font-face {
  font-family: 'Krasar-Medium';
  src: url('/assets/general-assets/fonts/Krasar-Medium.ttf');
}
@font-face {
  font-family: 'Krasar-Regular';
  src: url('/assets/general-assets/fonts/Krasar-Regular.ttf');
}
@font-face {
  font-family: 'Stem-Bold';
  src: url('/assets/general-assets/fonts/Stem-Bold.ttf');
}
@font-face {
  font-family: 'Stem-Medium';
  src: url('/assets/general-assets/fonts/Stem-Medium.ttf');
}
@font-face {
  font-family: 'Stem-Regular';
  src: url('/assets/general-assets/fonts/Stem-Regular.ttf');
}

.input-group {
  @apply pt-6 pb-4 px-4 border-2 border-dashed rounded relative;

  .label {
    @apply absolute top-0 text-sm text-maplaet-3;
    left: 1rem;
    transform: translateY(-50%);
  }
}

textarea {
  @apply appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 focus:text-maplaet-1 placeholder-gray-400 rounded-lg text-base focus:outline-none focus:ring-2 focus:ring-maplaet-1 focus:border-transparent;
}

input:not(input[type="radio"], input[type="range"], input[type="checkbox"]), select {
  @apply rounded-lg border-transparent appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-maplaet-1 focus:border-transparent #{!important};
}

input[type="checkbox"] {
  @apply rounded;
}

#loading {
  background-color: rgba($color: #000000, $alpha: 0.7);
  @apply fixed top-0 left-0 w-full h-full flex justify-center items-center;
}
.saved-inputs {
  div.selected {
    @apply text-white;
    background-color: rgb(156 163 175);
  }
}