@font-face {
  font-family: 'Kh Ang Kouteok';
  src: url('/assets/kumnit/fonts/Kh Ang Kouteok.ttf');
}

.artwork-preview {
  width: 88vw;
  height: 88vw;
  position: relative;
  overflow: hidden;

  .featured-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .overlay {
    @apply top-0 left-0 absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(40,87,165,1) 0%, rgba(0,56,124,1) 100%);
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90%;
    font-family: 'Kh Ang Kouteok', sans-serif;
    color: white;
    transform: translate(-50%, -50%) skewY(-5deg);
    word-wrap: break-word;

    .text-1 {
      font-size: 11vw;
      text-align: center;
    }
    .text-2 {
      font-size: 4vw;
      text-align: center;
    }
  }
}

#download {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  .artwork-preview {
    width: calc(88vw * 7);
    height: calc(88vw * 7);

    .text {
      .text-1 {
        font-size: calc(11vw * 7);
      }
      .text-2 {
        font-size: calc(4vw * 7);
      }
    }
  }
}

@media(min-width: 800px) {
  .customized-container {
    flex-direction: row;
    justify-content: space-between;

    .artwork-preview {
      width: 36vw;
      height: 36vw;

      .text {
        .text-1 {
          font-size: calc(11vw * 36 / 88);
        }
        .text-2 {
          font-size: calc(4vw * 36 / 88);
        }
      }
    }

    #input-container {
      margin-top: 0;
      width: calc(100% - 36vw - 2rem);
    }
  }

  #saved-backgrounds {
    @apply mx-0 mt-14;
  }
}