.customized-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customized-container #input-container {
  margin-top: 2rem;
  width: calc(100% - 3rem);
}
.customized-container #input-container button {
  color: white;
}
.customized-container #input-container * {
  font-family: "Stem-Regular", "Krasar-Regular";
}
.artwork-preview {
  width: 88vw;
  height: 88vw;
  position: relative;
  overflow: hidden;
  color: white;

  .featured-image {
    width: 100%;
    height: 84%;
    object-fit: cover;
    object-position: center;
  }

  .logo {
    position: absolute;
    width: 11%;
    top: 4%;
    right: 4%;
  }

  .shape1 {
    @apply absolute bottom-0 left-0 w-full;
    background: url('/assets/kumnit/images/kumnit/general-personal-social-media-post/7/map.svg'), linear-gradient(145deg, rgba(40,87,165,1) 0%, rgba(0,56,124,1) 100%);
    background-repeat: no-repeat;
    background-size: 50% auto, cover;
    line-height: 1.5;
    padding: 4% 4% 4% 25.5%;

    img {
      position: absolute;
      left: -0.9%;
      top: -2.8vw;
      width: 23%;
      z-index: 1;
    }

    .message {
      min-height: 7vw;
      font-size: 3.3vw;
      word-wrap: break-word;
    }
  }
  .shape1::after {
    content: '';
    @apply absolute top-0 left-0 w-full;
    height: 0.8vw;
    background-color: #0043b8;
    transform: translateY(-98%);
  }
}

#download {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
#download .artwork-preview {
  width: 616vw;
  height: 616vw;

  .shape1 { 
    img {
      top: calc(-2.8vw * 7);
    }

    .message {
      min-height: calc(7vw * 7);
      font-size: calc(3.3vw * 7);
    }
  }
  .shape1::after {
    height: calc(0.8vw * 7);
  }
}

@media (min-width: 800px) {
  #_1 {
    text-align: left;
  }
  .customized-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .customized-container .artwork-preview {
    width: 36vw;
    height: 36vw;
  
    .shape1 { 
      img {
        top: calc(-2.8vw * 36 / 88);
      }
  
      .message {
        min-height: calc(7vw * 36 / 88);
        font-size: calc(3.3vw * 36 / 88);
      }
    }
    .shape1::after {
      height: calc(0.8vw * 36 / 88);
    }
  }

  .customized-container #input-container {
    width: calc(100% - 36vw - 2rem);
  }

  #saved-backgrounds {
    margin-left: 0px;
    margin-right: 0px;
  }

  #saved-backgrounds {
    margin-top: 3.5rem;
  }
}