.artwork-preview {
  width: 88vw;
  height: 88vw;
  position: relative;
  overflow: hidden;
  color: white;
}
.artwork-preview .background {
  width: 100%;
  height: 100%;
}
.artwork-preview .content {
  position: absolute;
  left: 7%;
  right: 7%;
  top: 40%;
  transform: translateY(-40%);
}
.artwork-preview .content .info {
  display: flex;
  align-items: center;
  height: 11.5vw;
  margin-bottom: 3.5vw;
}
.artwork-preview .content .info .profile {
  width: 11.5vw;
  height: 11.5vw;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-right: 2.5vw;
}
.artwork-preview .content .info .contact {
  display: flex;
  flex-direction: column;
}
.artwork-preview .content .info .contact .page {
  display: flex;
}
.artwork-preview .content .info .contact .page .name {
  font-family: "Stem-Medium", "Krasar-Medium", sans-serif;
  white-space: nowrap;
  font-size: 3vw;
  margin-right: 1vw;
}
.artwork-preview .content .info .contact .page .verified {
  width: 2.5vw;
}
.artwork-preview .content .info .contact .at {
  font-size: 2.5vw;
  font-family: "Stem-Regular", "Krasar-Regular", sans-serif;
  opacity: 0.7;
}
.artwork-preview .content .quote {
  font-family: "Stem-Regular", "Krasar-Regular", sans-serif;
  word-wrap: break-word;
  font-size: 4.12vw;
}
#download {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
#download .artwork-preview {
  width: 616vw;
  height: 616vw;
}
#download .artwork-preview .content .info {
  height: 80.5vw;
  margin-bottom: 24.5vw;
}
#download .artwork-preview .content .info .profile {
  width: 80.5vw;
  height: 80.5vw;
  margin-right: 17.5vw;
}
#download .artwork-preview .content .info .contact .page .name {
  font-size: 21vw;
  margin-right: 7vw;
}
#download .artwork-preview .content .info .contact .page .verified {
  width: 17.5vw;
}
#download .artwork-preview .content .info .contact .at {
  font-size: 17.5vw;
}
#download .artwork-preview .content .quote {
  font-size: 28.84vw;
}
@media (min-width: 800px) {
  .customized-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .customized-container .artwork-preview {
    width: 36vw;
    height: 36vw;
  }
  .customized-container .artwork-preview .content .info {
    height: 4.7045454545vw;
    margin-bottom: 1.4318181818vw;
  }
  .customized-container .artwork-preview .content .info .profile {
    width: 4.7045454545vw;
    height: 4.7045454545vw;
    margin-right: 1.0227272727vw;
  }
  .customized-container .artwork-preview .content .info .contact .page .name {
    font-size: 1.2272727273vw;
    margin-right: 0.4090909091vw;
  }
  .customized-container .artwork-preview .content .info .contact .page .verified {
    width: 1.0227272727vw;
  }
  .customized-container .artwork-preview .content .info .contact .at {
    font-size: 1.0227272727vw;
  }
  .customized-container .artwork-preview .content .quote {
    font-size: 1.6854545455vw;
  }
  .customized-container #input-container {
    width: calc(100% - 36vw - 2rem);
  }

  #saved-backgrounds {
    margin-left: 0px;
    margin-right: 0px;
  }

  #saved-backgrounds {
    margin-top: 3.5rem;
  }
}
