@font-face {
  font-family: "Riffic";
  src: url("/assets/kumnit/fonts/riffic.otf");
}
@font-face {
  font-family: "GrandHotel";
  src: url("/assets/kumnit/fonts/GrandHotel-Regular.ttf");
}
@font-face {
  font-family: "Shartoll";
  src: url("/assets/kumnit/fonts/Shartoll-Light.otf");
}
@font-face {
  font-family: "Krasar-Bold";
  src: url("/assets/kumnit/fonts/Krasar-Bold.ttf");
}
@font-face {
  font-family: "Krasar-Regular";
  src: url("/assets/kumnit/fonts/Krasar-Regular.ttf");
}
.artwork-preview {
  width: 88vw;
  height: 132vw;
  position: relative;
  overflow: hidden;
}
.artwork-preview .logo {
  position: absolute;
  left: 50%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  top: 3%;
  width: 14%;
}
.artwork-preview .main-wrapper {
  position: absolute;
  left: 50%;
  display: flex;
  width: 100%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  align-items: center;
  justify-content: center;
  top: 14%;
  height: 20%;
}
.artwork-preview .main-wrapper .main {
  overflow-wrap: break-word;
  text-align: center;
  color: #f5a8a2;
  font-family: "Riffic", "Krasar-Bold";
  width: 80%;
  line-height: 1.2;
  font-size: 10vw;
}
.artwork-preview .secondary {
  position: absolute;
  left: 50%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  overflow-wrap: break-word;
  text-align: center;
  font-family: "Shartoll", "Krasar-Regular";
  top: 70%;
  font-size: 4.5vw;
  color: #f5a8a2;
  width: 75%;
}
.artwork-preview .from-wrapper {
  position: absolute;
  left: 50%;
  display: flex;
  width: 100%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  align-items: center;
  justify-content: center;
  bottom: 5%;
  height: 8%;
}
.artwork-preview .from-wrapper .from {
  font-family: "Shartoll", "Krasar-Regular";
  font-size: 4.5vw;
  color: #f5a8a2;
  white-space: nowrap;
}
.artwork-preview .name-wrapper {
  position: absolute;
  left: 50%;
  display: flex;
  width: 100%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  align-items: center;
  justify-content: center;
  top: 57%;
  height: 8.2%;
}
.artwork-preview .name-wrapper .name {
  overflow-wrap: break-word;
  text-align: center;
  color: white;
  font-family: "GrandHotel", "Krasar-Bold";
  width: 70%;
  white-space: nowrap;
  font-size: 7.5vw;
  line-height: 0;
}
#download {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 700vw;
  height: 990vw;
  background-color: white;
  padding: 49vw;
}
#download .artwork-preview {
  width: 252vw;
  height: 378vw;
}
#download .artwork-preview .main-wrapper .main {
  font-size: 28.6363636364vw;
}
#download .artwork-preview .secondary {
  font-size: 9.45vw;
}
#download .artwork-preview .from-wrapper .from {
  font-size: 12.8863636364vw;
}
#download .artwork-preview .name-wrapper .name {
  font-size: 21.4772727273vw;
}
@media (min-width: 800px) {
  .customized-container .artwork-preview {
    width: 36vw;
    height: 54vw;
  }
  .customized-container .artwork-preview .main-wrapper .main {
    font-size: 4.0909090909vw;
  }
  .customized-container .artwork-preview .secondary {
    font-size: 1.35vw;
  }
  .customized-container .artwork-preview .from-wrapper .from {
    font-size: 1.8409090909vw;
  }
  .customized-container .artwork-preview .name-wrapper .name {
    font-size: 3.0681818182vw;
  }
}
