@font-face {
  font-family: "ChelaOne";
  src: url("/assets/kumnit/fonts/ChelaOne-Regular.ttf");
}
@font-face {
  font-family: "Viltstift";
  src: url("/assets/kumnit/fonts/Blokletters-Viltstift.ttf");
}
@font-face {
  font-family: "Krasar-Bold";
  src: url("/assets/kumnit/fonts/Krasar-Bold.ttf");
}
@font-face {
  font-family: "Krasar-Regular";
  src: url("/assets/kumnit/fonts/Krasar-Regular.ttf");
}
.artwork-preview {
  width: 88vw;
  height: 132vw;
  position: relative;
  overflow: hidden;
}
.artwork-preview .logo {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%);
  width: 17%;
}
.artwork-preview .wrapper {
  position: absolute;
  left: 0px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 15%;
  height: 38%;
}
.artwork-preview .wrapper .main {
  width: 80%;
  word-wrap: break-word;
  font-family: "ChelaOne", "Krasar-Bold";
  font-size: 12vw;
  text-align: center;
  color: #e27da6;
  line-height: 1.25;
}
.artwork-preview .wrapper .secondary {
  width: 70%;
  word-wrap: break-word;
  font-family: "Viltstift", "Krasar-Regular";
  font-size: 2.7vw;
  margin-top: 5vw;
  color: white;
  text-align: center;
}
.artwork-preview .from-wrapper {
  position: absolute;
  bottom: 3%;
  height: 6%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artwork-preview .from-wrapper .from {
  white-space: nowrap;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
  font-family: "Viltstift", "Krasar-Regular";
  bottom: 3%;
  font-size: 2.7vw;
  color: #fff;
}
#download {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 700vw;
  height: 990vw;
  background-color: white;
  padding: 49vw;
}
#download .artwork-preview {
  width: 252vw;
  height: 378vw;
}
#download .artwork-preview .wrapper .main {
  font-size: 34.3636363636vw;
}
#download .artwork-preview .wrapper .secondary {
  font-size: 7.7318181818vw;
  margin-top: 14.3181818182vw;
}
#download .artwork-preview .from-wrapper .from {
  font-size: 7.7318181818vw;
}
@media (min-width: 800px) {
  .customized-container .artwork-preview {
    width: 36vw;
    height: 54vw;
  }

  .customized-container .artwork-preview .wrapper .main {
    font-size: 4.9090909091vw;
  }

  .customized-container .artwork-preview .wrapper .secondary {
    font-size: 1.1045454545vw;
    margin-top: 2.0454545455vw;
  }

  .customized-container .artwork-preview .from-wrapper .from {
    font-size: 1.1045454545vw;
  }
}
